body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

nav {
  background-color: #333;
  padding: 10px;
}

nav a {
  color: #fff;
  margin-right: 15px;
  text-decoration: none;
}

.container {
  padding: 20px;
}

.flash {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.flash.success {
  background-color: #d4edda;
  color: #155724;
}

.flash.danger {
  background-color: #f8d7da;
  color: #721c24;
}

canvas {
  border: 1px solid #333;
  display: block;
  margin: 20px auto;
}

.profile-page {
  padding: 2vw;
}

footer {
  display: flex;
  justify-content: center;
  align-items: end;
  min-height: 50px;
}


#texte-accueil {
  justify-self: center;
  justify-items: center;
}


#quizze {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px 20px;
  background-color: #f0f2f5;
  border: 1px solid #d1d9e0;
  border-radius: 12px;
  font-family: "Segoe UI", "Roboto", sans-serif;
}

#quizze h2 {
  text-align: center;
  color: #333;
  font-size: 26px;
  margin-bottom: 25px;
}

#quizze ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#quizze li {
  margin: 15px 0;
}

#quizze a {
  display: block;
  padding: 12px 20px;
  text-decoration: none;
  color: #2c3e50;
  background-color: #ffffff;
  border: 1px solid #d1d9e0;
  border-radius: 8px;
  font-size: 18px;
}

#quizze a:hover {
  background-color: #e6eef7;
}