<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}Quiz GreenIT{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <nav>
    <a href="{{ url_for('accueil') }}">Accueil</a>
    {% if current_user.is_authenticated %}
    <a href="{{ url_for('quizz') }}">Quiz</a>
    <a href="{{ url_for('profile') }}">Profil</a>
    <a href="{{ url_for('logout') }}">Déconnexion</a>
    {% if current_user.admin %}
    <a href="{{ url_for('admin_dashboard') }}">Tableau de Bord Admin</a>
    {% endif %}
    {% else %}
    <a href="{{ url_for('login') }}">Connexion</a>
    <a href="{{ url_for('register') }}">Inscription</a>
    {% endif %}
    <a href="{{ url_for('classement') }}">Classement</a>
  </nav>


  <div id="texte-accueil" class="container">
    <h1>Bienvenue sur notre site : GreunRunner</h1>
    <br><br>
    <p>Sur celui-ci, vous pouvez concourir avec d'autres utilisateurs, en cherchant à avoir le meilleur score à travers
      des quizz de Green-IT et de IT For Green.</p>
    <br>
    <p><strong>Bon jeu !</strong></p>
    <br><br>
    <p>Ce site a été crée par Harone Chitam, Léopold Billecocq, Ashraf Ait Abbas et Max Bortolotti.</p>
    <br>
  </div>

  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="flash {{ category }}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </div>



  <footer>
    <p> &copy; 2025 Projet GreunRunner. Tous droits réservés.</p>
  </footer>
</body>

</html>