<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil Utilisateur</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header>
        <nav>
            <a href="{{ url_for('accueil') }}">Accueil</a>
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('quizz') }}">Quiz</a>
            <a href="{{ url_for('profile') }}">Profil</a>
            <a href="{{ url_for('logout') }}">Déconnexion</a>
            {% else %}
            <a href="{{ url_for('login') }}">Connexion</a>
            <a href="{{ url_for('register') }}">Inscription</a>
            {% endif %}
            <a href="{{ url_for('classement') }}">Classement</a>
        </nav>
    </header>
    <main class="profile-page">

        <h1>Profil de l'utilisateur</h1>
        <section class="profile-info">
            <h2>Informations personnelles</h2>
            <p><strong>Nom :</strong> {{ user.username }}</p>
            <p><strong>Email :</strong> {{ user.email }}</p>
            <p><strong>Meilleur score :</strong> {{ user.score }}</p>
        </section>


    </main>
    <footer>
        <p> &copy; 2025 Projet GreunRunner. Tous droits réservés.</p>
    </footer>
</body>

</html>